# List Comprehension Examples:
This Notebook will be a reference on how to use list comprehensions in python using data from a **CSV** & other types and methods

## Lists Examples:
In this example, I will be using the Pandas library.
For more information about the Pandas library: https://pandas.pydata.org/docs/

In [63]:
import pandas as pd

In [64]:
sample_data = pd.read_csv("/Users/ap/Python/PythonData/Data_Structucture_Practice_With_Data/DataSets/test.csv")

In [65]:
pd.set_option("Display.max_rows",100)

In [66]:
sample_data.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
1,140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
2,140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
3,140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
4,140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No

In [67]:
for x in sample_data:
    print(x)

id
Name
Gender
Age
City
Working Professional or Student
Profession
Academic Pressure
Work Pressure
CGPA
Study Satisfaction
Job Satisfaction
Sleep Duration
Dietary Habits
Degree
Have you ever had suicidal thoughts ?
Work/Study Hours
Financial Stress
Family History of Mental Illness

In [68]:
filtered = sample_data[
    (sample_data["Name"].str.startswith("A")) &
    (sample_data["Age"] < 25) &
    (sample_data["Job Satisfaction"] < 2.5)
    ]
print(filtered[["Name", "Age","Job Satisfaction", "Profession"]])

          Name   Age  Job Satisfaction           Profession
179       Anvi  18.0               1.0                  NaN
223       Anvi  24.0               2.0              Teacher
330      Anand  18.0               1.0                  NaN
354    Aanchal  21.0               2.0              Teacher
689      Arnav  20.0               2.0                  NaN
...        ...   ...               ...                  ...
93466   Armaan  21.0               1.0           HR Manager
93518   Aadhya  21.0               1.0           Accountant
93661     Arya  19.0               2.0                  NaN
93696  Aanchal  19.0               2.0                  NaN
93744     Ansh  23.0               2.0  Finanancial Analyst

[793 rows x 4 columns]